:root {
    --navbar-color: #18518F;
    --footer-color: #1F2937;
    --gdg-color: #2563eb;
    --wtm-color: #9333EA;
    --pyLadies-color: #CC26DC;
    --footer-text: #9CA3AF;
    --white-font: #ffffff;
    --gray: #ccc;
}
* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    max-width: 3000px;
}
header {
    background-color: var(--navbar-color);
    display: grid;
}
header h1 {
    background-color: var(--navbar-color);
    color: var(--white-font);
    padding: 2rem;
    margin: 0;
    font-size: 1.5rem;
    margin-right: 4rem;
    cursor: pointer;
}
header h1 a {
    padding: 0;
    font-size: 1.5rem;
}
nav {
    align-content: center;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.navigation a {
    display: none;
    flex: 1 1 100%;
    text-align: center;
}
.open a {
    display: block;
}
#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    color: var(--white-font);
}

#menu.open::before {
    content: "X";
}
li {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
ul {
    flex-wrap: wrap;
    padding: 0;
}
a {
    text-decoration: none;
    padding: 2rem;
    font-size: 20px;
    color: var(--white-font);
}
main {
    max-width: 2100px;
}
main,
.index-page {
    text-align: center;
    justify-items: center;
}
.index-page h2 {
    font-size: 2em;
}
.communities-grid {
    display: grid;
}
.communities-grid div,
.events-grid div,
.upcoming div,
.events-page .event1,
.events-page .event2,
.upcoming1 {
    border: 1px solid var(--gray);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 1rem;
    max-width: 500px;
}
.gdg h3 {
    color: var(--gdg-color);
}
.wtm h3 {
    color: var(--wtm-color);
}
.pyLadies h3 {
    color: var(--pyLadies-color);
}
.communities-grid img {
    width: 150px;
}
.events-grid {
    display: grid;
}
.events-grid div,
.upcoming div {
    text-align: left;
}

.event1 h4,
.pyLadies-community h2 {
    color: var(--pyLadies-color);
}
.event2 h4,
.gdg-community h2 {
    color: var(--gdg-color);
}
.upcoming1 h4, 
.wtm-community h2 {
    color: var(--wtm-color);
}

.upcoming1 button,
.events-page button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--wtm-color);
    color: var(--white-font);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}
.upcoming1 button:hover {
    box-shadow: 0 6px 10px var(--wtm-color);
    transform: translateY(-2px);
}
.communities-gallery img,
.communities-page img,
.events-page img,
.gallery-page img,
.upcoming1 img {
    width: 90%;
    margin: 0.5rem;
    max-width: 700px;
}

footer {
    justify-items: center;
    text-align: center;
    background-color: var(--footer-color);
    color: var(--footer-text);
    padding: 1rem;
}
footer a {
    color: var(--footer-text);
    padding: 1rem;
} 
footer h2 {
    font-weight: bold;
    color: var(--white-font);
}
.followUs img {
    width: 50px;
}
.copyright a {
    padding: 0;
}
/* Communities */
.communities-page,
.events-page,
.upcoming1 {
    padding: 1rem;
    font-size: 18px;
}
.communities-page {
    max-width: 1200px;
}
.communities-page img {
    margin-bottom: 4rem;
}
.communities-page h1,
.events-page h1 {
    margin-top: 0;
}
.communities-page p {
    margin: 1rem;
}
/* Events */
.events-page div {
    margin: 2rem;
}
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--navbar-color);
    color: var(--white-font);
    border: none;
    border-radius: 50%;
    padding: 15px 18px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1000;
}
#scrollToTopBtn:hover {
    background-color: var(--navbar-color);
    transform: scale(1.1);
}
#scrollProgressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: var(--navbar-color);
    width: 0%;
    z-index: 9999;
    transition: width 0.25s ease-out;
}
#tipBox {
    position: fixed;
    bottom: 200px;
    left: 20px;
    background-color: var(--navbar-color);
    color: var(--white-font);
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    max-width: 250px;
    z-index: 999;
    display: none;
}
#closeBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--white-font);
}
@media screen and (min-width: 1025px) {
    #tipBox {
        display: block;
    }
    #scrollToTopBtn {
        bottom: 200px;
    }
    body {
        justify-self: center;
    }
    #menu {
        display: none;
    }
    nav {
        align-content: center;
        display: block;
    }
    header {
        grid-template-columns: 4fr 3fr;
    }
    li {
        padding: 0;
    }
    ul {
        margin: 0;
    }
    .navigation {
        flex-direction: row;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    
    .communities-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
    }
    .communities-grid h1 {
        grid-column: 1/4;
        text-align: left;
        padding-left: 1rem;
    }
    .index-page h2 {
        text-align: left;
        padding-left: 1rem;
    }
    .all-events-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: -webkit-fill-available;
    }
    .all-events-grid h2 {
        grid-row: 1;

    }
    .events-grid h3,
    .upcoming h3 {
        text-align: left;
        padding-left: 1rem;
    }
    .event1 h3,
    .event2 h3,
    .upcoming1 h3 {
        padding: 0;
    }
    .index-page h2 {
        grid-column: 1 / 4;
        text-align: left;
    }
    .events-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .events-page h2 {
        grid-column: 1/3;
    }

    .communities-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
    }
    .communities-gallery img {
        max-width: 400px;
    }

    .gallery-page {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
    .gallery-page h2:nth-of-type(1) {
        grid-column: 1/6;
    }
    .gallery-page h2:nth-of-type(2) {
        grid-column: 1/6;
        grid-row: 3;
    }
    .gallery-page h2:nth-of-type(3) {
        grid-column: 1/6;
        grid-row: 5;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .followUs {
        grid-column: 3/4;
    }
    .copyright {
        grid-column: 2/3;
        grid-row: 1;
    }
}