html {
    justify-items: center;
}
img {
    display: block;
}
@keyframes img {
    from {
        opacity: 0;
        filter: brightness(0);
    }

    to {
        opacity: 1;
        filter: brightness(1);
    }
}